.side-bar 
  .side-bar__username
    .side-bar__username__top-items
      .side-bar__username__top-items__name
        masa
      .side-bar__username__top-items__icons
        .side-bar__username__top-items__icons__edit
          = link_to "#", class: "side-bar__btn" do
            = icon('fas', 'edit')
        .side-bar__username__top-items__icons__cog
          = link_to "#", class: "side-bar__btn" do
            = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list__group-name
      techcamp1
    .side-bar__group-list__new-message
      まだメッセージがありません

    .side-bar__group-list__group-name
      techcamp2
    .side-bar__group-list__new-message
      まだメッセージがありません

    .side-bar__group-list__group-name
      techcamp3
    .side-bar__group-list__new-message
      まだメッセージがありません

    .side-bar__group-list__group-name
      techcamp4
    .side-bar__group-list__new-message
      まだメッセージがありません

